*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.title{
    
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
}
.loginContainer{
    top: 50%;
    background-color: white;
    width: 33vw;
    height: 60vh;
    border-radius: 15px;
    border: black solid 1px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 8px #a2a1a1;
}
.registerContainer{
    top: 50%;
    background-color: white;
    width: 33vw;
    height: 70vh;
    border-radius: 15px;
    border: black solid 1px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 8px #a2a1a1;
}
.userInfor{
    margin-top:80px;
}
hr{
    width: 30%;
    position: relative;
    align-items: center;
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
}
.login{
    cursor:pointer;
}
.register{
    cursor:pointer;
}
#login1{
    text-decoration: none;
    color: #5521b5;
}
#register1{
    text-decoration: none;
    color: rgb(158, 158, 158);
}
#login2{
    text-decoration: none;
    color: rgb(158, 158, 158);
}
#register2{
    text-decoration: none;
    color: #5521b5;
}
.page{
   
    height: 100vh;
    background-image: url("image/terra-luna-new-chain-coinmarketcap.jpg");
    background-color: rgba(10, 30, 66, 0.4);
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    margin: 15px;
}
.btn{
    background-color: #5521b5;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    
}
.errMess{
    color: red;
}